<!DOCTYPE html>

<head>
	<title>@ViewBag.CodeName</title>
    <style>
        #planetName
        {
            text-align: center;
            font-size: 90px;
            display: block;
        }

        #liveDateTime {
            text-align: center;
            font-size: 40px;
            display: block;
        }
        
        .bg{
            background-image: url("/Images/StarsBG.jpg");
        
            background-repeat: repeat;
        }
    </style>
</head>

<body class="bg" style="color: white; background-color: black; font-family: Courier;">

    <div>
        <span id="planetName">@ViewBag.LocalName</span>
    </div>

    <div id="liveDateTime"></div>

    <div id="konva-container" style="width: 100%; height: 100vh; position: relative;"></div>

    @await Html.PartialAsync("_PlayerBase");

	<div>
		@RenderBody()
	</div>

</body>





