@page
@using SpaceITgr.Models;
@model SpaceITgr.Views.Planet.PlanetModel
@{
    ViewBag.CodeName = $"{SpaceData.Planets[173].CodeName}";
    ViewBag.CurrentTime = $"{SpaceData.Planets[173].CurrentTime}";
    ViewBag.LocalName = $"{SpaceData.Planets[173].LocalName}";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<body>
    <div>
        <img width="100%" height="100%" src="/Images/Earth.jpg" />
    </div>
</body>

