@page
@using SpaceITgr.Models;
@model SpaceITgr.Views.Planet.PlanetModel
@{
	ViewBag.CodeName = $"{SpaceData.Planets[173].CodeName}";
	ViewBag.CurrentTime = $"{SpaceData.Planets[173].CurrentTime}";
	Layout = "/Views/Shared/_Layout.cshtml";
}
<div>
	<p>Земля</p>
</div>
<div id="map-container"></div>

<script src="https://unpkg.com/konva@8.3.2/konva.min.js"></script>

<script>
    const stage = new Konva.Stage({ container: 'map-container', width: 800, height: 600 });
    const layer = new Konva.Layer();

    // Добавление кликабельного круга (город)
    const city = new Konva.Circle({ x: 100, y: 100, radius: 50, fill: '#3498db' });
    city.on('click', () => window.location.href = '/City/NeoJews');
    layer.add(city);

    stage.add(layer);
</script>