@page
@using SpaceITgr.Models;
@model SpaceITgr.Views.Planet.Satellite171Model
@{
	ViewBag.CodeName = $"{SpaceData.Planets[1731].CodeName}";
	ViewBag.CurrentTime = $"{SpaceData.Planets[1731].CurrentTime}";
	ViewBag.LocalName = $"{SpaceData.Planets[1731].LocalName}";
	Layout = "/Views/Shared/_Layout.cshtml";
}
<div>
	<img width="100%" height="100%" src="/Images/Moon.png"/>
</div>

