@using SpaceITgr.Models;
@model SpaceITgr.Views.City.galaxyModel
@{
}
<head>
    <style>
        #bg {
            background-image: url("/Images/galaxy.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .text {
            text-align: center;
            font-family: Courier;
            font-size: 400%;
            color: aliceblue;
            font-weight: 100;
            text-shadow: 0 0 10px #595959;
        }
        #maintext {
            text-align: center;
            font-family: Courier;
            font-size: 500%;
            color: aliceblue;
            font-weight: 100;
            letter-spacing: 50px;
            text-shadow: 0 0 10px #595959;
        }
    </style>
</head>

<body id="bg">
    
    <p class="text">СПАСИБО МАСКУ ЗА ГРОК</p>
    <p class="text">그록에 대한 머스크 감사</p>
    <p class="text">DANKE MUSK FÜR GROK</p>
    <h1 id="maintext">THANK MUSK FOR GROK</h1>
    <p class="text">AGRADEZCA A MUSK POR GROK</p>
    <p class="text">شكرا المسك لغروك</p>
    <p class="text">ΕΥΧΑΡΙΣΤΏ ΤΟ MUSK ΓΙΑ ΤΟ GROK</p>
</body>