@using SpaceITgr.Models;
@model SpaceITgr.Views.City.VillageModel
@{
    ViewBag.LoactionName = SpaceData.Locations["v1"].Name;
    ViewBag.LoactionPopulation = SpaceData.Locations["v1"].Population;
    Layout = "/Views/Shared/_LayoutCity.cshtml";
}
<head>
    <style>
        #bg {
            background-image: url("/Images/village1.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>
</head>

<body id="bg">
        <img style="margin-left: 30%; margin-top: 10%" width="1024" height="1024" src="/Images/Oldman.png" />
</body>
<script src="https://unpkg.com/konva@8.3.2/konva.min.js"></script>
<script>
    const stage = new Konva.Stage({
        container: 'konva-container',
        width: window.innerWidth,
        height: 200, // Достаточно для кнопки
    });

    const mainLayer = new Konva.Layer();

    const ButtonPlanets = new Konva.Rect({
        x: 1020, // Адаптивная позиция
        y: 100,
        width: 500,
        height: 80,
        stroke: 'gray',
        strokeWidth: 2,
        fill: 'white',
        cornerRadius: 5,
        shadowColor: '#595959',
        shadowBlur: 20,
        shadowOpacity: 0.1
    });

    const TextBtn = new Konva.Text({
        x: 1020,
        y: 100,
        width: 500,
        text: 'ВЗЯТЬ КВЕСТ',
        fontSize: 70,
        fontFamily: 'Courier',
        fill: 'gray',
        padding: 5,
        align: 'center'
    });

    const ButtonGroup = new Konva.Group();
    ButtonGroup.add(ButtonPlanets);
    ButtonGroup.add(TextBtn);
    mainLayer.add(ButtonGroup);
    stage.add(mainLayer);
    mainLayer.draw();

    ButtonGroup.on("click", async () => {
        try {
            const response = await fetch("/Player/AddItemToInventory", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    Name: "Ключ от сейфа",
                    Count: 1,
                    Mass: 1
                })
            });

            const result = await response.json();
            if (response.ok) {
                alert(result.message);
                // Закрываем старое модальное окно и открываем обновлённое
                const oldModal = document.getElementById('inventory-modal');
                if (oldModal) oldModal.remove();
                ButtonInventoryGroup.fire('click'); // Программно кликаем по кнопке инвентаря
            }
        } catch (error) {
            console.error("Ошибка:", error);
            alert("Не удалось добавить предмет!");
        }
    });
   
</script>